<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="1.8.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <Project Sdk="Microsoft.NET.Sdk">
  <ItemGroup>
    <PackageReference Include="ILMerge" Version="2.15.0" />
  </ItemGroup>
  <Target Name="ILMerge">
    <!-- the ILMergePath property points to the location of ILMerge.exe console application -->
    <Exec Command="$(ILMergeConsolePath) /out:TTSDanmaku.dll TTSDanmaku.dll NAudio.dll" />
  </Target>
</Project>
</packages>